.email-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 20vh;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.email-tags::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.email-tags {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.email-tag {
  position: relative;
  width: 270px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 8px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgb(200, 200, 200);
}

.tag-subject {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: rgb(65, 65, 65);
}

.email-modal-content {
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
}
